# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: cypress-mailosaur
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build (${{ matrix.environment }})
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        environment: [live, next]

    env:
      CYPRESS_MAILOSAUR_BASE_URL: ${{ matrix.environment == 'live' && 'https://mailosaur.com/' || 'https://next.mailosaur.com/' }}
      CYPRESS_MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
      CYPRESS_MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}
      CYPRESS_MAILOSAUR_VERIFIED_DOMAIN: ${{ matrix.environment == 'live' && 'mailosaur.net' || 'mailosaur.email' }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
      - name: Build & test
        run: npm i && npm run test:ci

  notify:
    name: Notify
    if: ${{ always() }}
    needs: build
    runs-on: ${{ vars.LINUX }}
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Checkout custom actions
        uses: actions/checkout@v4
        with:
          repository: mailosaur/actions
          token: ${{ secrets.CUSTOM_ACTIONS_TOKEN }}
          path: .github/actions
      - name: Send notifications
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
          data: '{"matrixBuildResult": "${{ needs.build.result }}"}'
