name: Publish

on:
  release:
    types: [created]

env:
  CYPRESS_MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
  CYPRESS_MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18.13.0 # Usually lts/* but https://github.com/bahmutov/start-server-and-test/issues/333
      - run: npm i && npm run test:ci

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18.13.0 # Usually lts/* but https://github.com/bahmutov/start-server-and-test/issues/333
          registry-url: https://registry.npmjs.org/
      - name: version
        run: |
          npm --no-git-tag-version --allow-same-version version `git describe --abbrev=0 --tags`
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - name: Notify on failure
        if: ${{ failure() }}
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
