name: Publish

on:
  release:
    types: [created]

env:
  CYPRESS_MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
  CYPRESS_MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}

permissions:
  contents: read

jobs:
  publish:
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Checkout custom actions
        uses: actions/checkout@v4
        with:
          repository: mailosaur/actions
          token: ${{ secrets.CUSTOM_ACTIONS_TOKEN }}
          path: .github/actions
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
      - name: Version
        run: |
          npm --no-git-tag-version --allow-same-version version `git describe --abbrev=0 --tags`
      - name: Install dependencies
        run: npm ci && npm ci -C test
      - name: Build & test
        run: npm run test:ci
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
      - name: Send notifications
        if: ${{ always() }}
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
