name: Publish

on:
  release:
    types: [created]

env:
  CYPRESS_MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
  CYPRESS_MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}

jobs:
  build:
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
      - run: npm i && npm run test:ci

  publish-npm:
    needs: build
    runs-on: ${{ vars.LINUX }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Checkout custom actions
        uses: actions/checkout@v2
        with:
          repository: mailosaur/actions
          token: ${{ secrets.CUSTOM_ACTIONS_TOKEN }}
          path: .github/actions
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
      - name: version
        run: |
          npm --no-git-tag-version --allow-same-version version `git describe --abbrev=0 --tags`
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - name: Send notifications
        if: ${{ always() }}
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
